{% extends "::layout/base.html.twig" %}
{% block body %}
    <h1>Modifier Commentaire</h1>
    <br/><br/>

    <ul>{{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('sujet_show-All') }}">
                Retour à la liste
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
