<div class="product-listy">
    <h2>Panier</h2>
    <ul class="product-list">
        <li>
            <a href="{{ path('panier') }}">
                {% if articles == 0 %}
                    Aucun article dans votre panier
                {% elseif articles == 1 %}
                    1 article dans votre panier
                {% else %}
                    {{ articles }} articles dans votre panier
                {% endif %}
            </a>
        </li>
    </ul>
</div>