{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Ajouter Produits</h1>

    <form action="{{ path('adminProduits_create') }}" method="POST" {{ form_enctype(form) }}>
        {{ form(form) }}
    </form>

    <dl class="record_actions">
        <dt>
            <a href="{{ path('adminProduits') }}" class="btn">
                Retour à la liste
            </a>
        </dt>
    </dl>
{% endblock %}
