<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Favoris</li>
        <li>
            <a href="{{ path('favoris_show',{'id':favoris.id}) }}">
                Consulter ma liste d'envie
            </a>
        </li>
    </ul>
</div>